:root {
    --primary-color: #2575FF;
    --primary_rgba-color: 37, 117, 255;
    --secondary-color: #876cff;
    --greyish-brown: #4a4a4a;
    --silver-color: #d6dae1;
    --silver-two: #bfc5d0;
    --steel: #888f9d;
    --bg-grey-modal: #f0f2f4;
    --color: 240, 240, 240;
    --primary-color-opacity-50: rgba(var(--primary_rgba-color), 0.1);
    --primary-color-opacity: rgba(var(--primary_rgba-color), 0.15);
    --primary-color-opacity-200: rgba(var(--primary_rgba-color), 0.65);
    --primary-color-opacity-300: rgba(var(--primary_rgba-color), 0.5);
    --dark: #110f24;
    --dark-gray: #445162;
    --dark-100: #2A2C36;
    --cool-grey: #899398;
    --pale-grey: #f0f2f4;
    --gray-150: #F5F6FA;
    --gray-200: #F1F2F4;
    --gray-300: #EBEBEB;
    --gray-350: #E0E2E5;
    --gray-400: #E0E2E6;
    --gray-550: #BEC2C9;
    --gray-650: #C4C4C4;
    --gray-700: #888F9D;
    --gray-950: #263148;
    --gray-light: #F8F8FB;
    --orange-350: #FAB11E;
    --red: #FF4D4D;
    --red-focus: #FF3636;
    --white: #FFFFFF;
    --transparent: #00000000;
    --empty-bg: var(--transparent);


    --default-bg: #F5F6FA;
    --default-text: var(--gray-950);

    --icons: var(--primary-color);
    --sub-bg: #8292A5;
    --headers: var(--primary-color);
    --ui-lines: #EBEBEB;
    --placeholders: #9EA6B2;
    --field-borders: #EBEBEB;
    --major-ui-lines: #E0E2E5;
    --table-headings: var(--primary-color);
    --progress-line-done: var(--primary-color);
    --progress-line-not-done: var(--gray-550);

    --active-elements: var(--primary-color);
    --active-elements--focus: var(--primary-color);
    --active-elements--pressed: var(--primary-color);
    --active-elements-bg--focus: var(--empty-bg);
    --active-elements-bg--pressed: var(--empty-bg);

    --inactive-elements: var(--gray-550);
    --inactive-elements--focus: var(--gray-550);
    --inactive-elements--pressed: var(--gray-550);
    --inactive-elements-bg--focus: var(--empty-bg);
    --inactive-elements-bg--pressed: var(--empty-bg);

    --primary-actions: var(--primary-color);
    --primary-actions--focus: var(--primary-color);
    --primary-actions--pressed: var(--primary-color);
    --primary-actions-bg--focus: var(--empty-bg);
    --primary-actions-bg--pressed: var(--empty-bg);

    --secondary-actions: var(--gray-550);
    --secondary-actions--focus: var(--gray-550);
    --secondary-actions--pressed: var(--gray-550);
    --secondary-actions-bg--focus: var(--empty-bg);
    --secondary-actions-bg--pressed: var(--empty-bg);

    --destructive-actions: var(--red);
    --destructive-actions--focus: var(--red);
    --destructive-actions--pressed: var(--red);
    --destructive-actions-bg--focus: var(--empty-bg);
    --destructive-actions-bg--pressed: var(--empty-bg);
}

@import "../css/tailwind";

@import "main/element-overrides/button";
@import "main/element-overrides/collapse";
@import "main/element-overrides/dialog";
@import "main/element-overrides/dialog";
@import "main/element-overrides/date-picker";
@import "main/element-overrides/select";
@import "main/element-overrides/tabs";
@import "main/element-overrides/checkbox";
@import "main/element-overrides/color-picker";
@import "main/element-overrides/input";
@import "main/element-overrides/table";
@import "main/element-overrides/pagination";
@import "main/element-overrides/radio";
@import "main/element-overrides/spiner";
@import "main/element-overrides/slider";
@import "main/element-overrides/form";
@import "main/widgets/card";

@import "main/scroll";

@import "main/layout/dashboard";

@import "main/icons";
