:root {
    --primary-color: #2575FF;
    --primary_rgba-color: 37, 117, 255;
    --secondary-color: #876cff;
    --greyish-brown: #4a4a4a;
    --silver-color: #d6dae1;
    --silver-two: #bfc5d0;
    --steel: #888f9d;
    --bg-grey-modal: #f0f2f4;
    --color: 240, 240, 240;
    --primary-color-opacity-50: rgba(var(--primary_rgba-color), 0.1);
    --primary-color-opacity: rgba(var(--primary_rgba-color), 0.15);
    --primary-color-opacity-200: rgba(var(--primary_rgba-color), 0.65);
    --primary-color-opacity-300: rgba(var(--primary_rgba-color), 0.5);
    --dark: #110f24;
    --dark-gray: #445162;
    --dark-100: #2A2C36;
    --cool-grey: #899398;
    --pale-grey: #f0f2f4;
    --gray-150: #F5F6FA;
    --gray-200: #F1F2F4;
    --gray-300: #EBEBEB;
    --gray-350: #E0E2E5;
    --gray-400: #E0E2E6;
    --gray-550: #BEC2C9;
    --gray-650: #C4C4C4;
    --gray-950: #263148;
    --gray-light: #F8F8FB;
    --orange-350: #FAB11E;
    --red: #FF4D4D;
    --red-focus: #FF3636;
}

@import "../css/tailwind";

@import "main/element-overrides/button";
@import "main/element-overrides/collapse";
@import "main/element-overrides/dialog";
@import "main/element-overrides/dialog";
@import "main/element-overrides/date-picker";
@import "main/element-overrides/select";
@import "main/element-overrides/tabs";
@import "main/element-overrides/checkbox";
@import "main/element-overrides/color-picker";
@import "main/element-overrides/input";
@import "main/element-overrides/table";
@import "main/element-overrides/pagination";
@import "main/element-overrides/radio";
@import "main/element-overrides/spiner";
@import "main/element-overrides/slider";
@import "main/element-overrides/form";
@import "main/widgets/card";

@import "main/scroll";

@import "main/layout/dashboard";

@import "main/icons";
