.el-button.el-button--primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  &:hover,
  &:active {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
  }
}
