.el-picker-panel {
  .el-date-table td.end-date span, .el-date-table td.start-date span {
    background-color: var(--primary-color);
  }

  .el-date-table td.available:hover,
  .el-date-table td.today span {
    color: var(--primary-color);
  }

  .el-date-table td.in-range div, .el-date-table td.in-range div:hover,
  .el-date-table.is-week-mode .el-date-table__row.current div,
  .el-date-table.is-week-mode .el-date-table__row:hover div {
    @apply bg-gray-200;
  }
}

.range-filter {
  .el-range-editor.is-active, .el-range-editor.is-active:hover {
    border-color: var(--primary-color);
  }
}
