.el-dialog__wrapper {
    .el-dialog__body {
        padding-top: 0;
        padding-bottom: 0;
        max-height: 65vh;
        overflow: auto;
    }

    .el-dialog__header {
        padding: 15px 20px 0px;
    }
}

.el-dialog__headerbtn i.el-dialog__close {
    font-size: 20px;

    &:hover {
        color: var(--primary-color);
    }
}

