body .el-loading-mask {
    @apply relative bg-transparent h-full;
    .el-loading-spinner {
        .circular {
            height: 60px;
            width: 60px;
        }

        .path {
            stroke-width: 3.5px;
            stroke: var(--primary-color);
        }
    }
}
