:root {
  --primary-color: #2575FF;
  --secondary-color: #876cff;
  --greyish-brown: #4a4a4a;
  --silver-color: #d6dae1
}

@import "tailwind";
@import "animations";

body {
  @apply bg-gray-200 px-24 font-montserrat;
}
