body {
    .dashboard-container {
        @apply px-6;
        min-height: 100vh;
        padding-bottom: 2rem;
    }

    min-width: 320px;
    @apply font-montserrat font-semibold;
    font-size: var(--font-size-base);
}

@media (min-width: 768px) {
    body {
        .dashboard-container {
            @apply px-12;
        }
    }
}

body {
    background: var(--background-color);
    border: 1px solid var(--frames-color);
    border-bottom: none;
}

.widget--group_section, .editable-widgets {
    background: var(--widgetGroupBackground-color);
    border: 2px solid var(--widgetGroupFrames-color);
    @apply px-2 rounded-lg;
}

input, .el-dropdown .el-button, .el-button .el-checkbox,
.el-dialog__footer button, .el-collapse-item .el-collapse-item__header, .el-checkbox__label {
    @apply font-semibold;
    font-size: var(--font-size-base);
}
