.el-color-dropdown__btns .el-button--text {
  color: var(--primary-color);

  :hover {
    color: var(--primary-color);
    opacity: 0.65;
  }
}

button.el-button.el-color-dropdown__btn.el-button--default.el-button--mini.is-plain:hover {
  background-color: rgba(var(--primary_rgba-color), 0.15);
  border-color: var(--primary-color);
  color: var(--primary-color);
}
