.el-pagination {
  .el-pager {
      li {
          background-color: transparent;
      }
    li.active, li:hover {
      color: var(--primary-color);
    }
  }

  .el-select .el-input .el-input__inner:hover {
    border-color: var(--primary-color);
  }

    button.btn-next, button.btn-prev {
        &:disabled {
            background-color: transparent;
        }

        &:hover {
            color: var(--primary-color);
        }

        background-color: transparent;
        color: var(--primary-color);
    }
}
