.el-table {
    /*border: 1px solid var(--gray-300) !important;
    border-bottom: 0 !important;

    .el-table__cell:not(:last-child):not(.el-table__expand-column) {
        border-right: 1px solid var(--gray-300) !important;
    }

    .el-table__expand-column {
        .el-table__expand-icon {
            @apply text-primary;
        }
    }*/
}

.el-table__empty-text, .el-table td {
    font-size: var(--font-size-sm);
}

.el-table th {
    .header-handle, .caret-wrapper {
        display: none;
    }

    font-size: var(--font-size-sm);
}

.el-table th:hover {
    .header-handle, .caret-wrapper {
        @apply flex;
        color: var(--primary-color);
    }
}

.el-table th:hover {
    @apply bg-gray-100;
    @apply cursor-pointer;
}

.el-table th {
    color: var(--greyish-brown);

    &.is-left > .cell {
        @apply flex;
        @apply items-center;
        > .header-handle {
            @apply ml-auto;
        }
    }

    &.is-center > .cell {
        @apply flex;
        @apply items-center;
        justify-content: center;
    }
}

.el-table thead th {
    padding: 6px 0;

    .cell {
        line-height: 34px;
    }
}

.el-table td > .cell {
    color: var(--greyish-brown);
}

.el-table .el-table__empty-block {
    min-height: 150px;
}

.rtl .el-select {
    .el-tag__close.el-icon-close {
        left: -5px;
        right: auto;
    }

    .el-tag {
        margin: 2px 6px 2px 0px;
    }
}

.rtl .el-table {
    td {
        &.is-left {
            text-align: right;
        }
    }

    th {
        &.is-center > .cell {
            > .header-handle {
                margin-right: 0;
            }
        }

        &.is-left > .cell {
            > .header-handle {
                margin-left: 0;
            }
        }
    }
}
