.cursor-help {
    cursor: help;
}

.ltr-direction {
    direction: ltr;
}

.cursor-grabbing {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.base-transition {
    @apply transition-all duration-300 ease-in;
}
