::-webkit-scrollbar-track:vertical {
    @apply border border-gray-200;
    box-shadow: 1px 0 1px 0 #F6F6F6 inset, -1px 0 1px 0 #F6F6F6 inset;
}

::-webkit-scrollbar-track:horizontal {
    @apply border-t border-gray-200;
    box-shadow: 0 1px 1px 0 #F6F6F6 inset, 0 -1px 1px 0 #F6F6F6 inset;
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar {
    @apply bg-gray-100;
    -webkit-appearance: none;
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    border-color: transparent;
    border-radius: 9px 8px 8px 9px;
    border-style: solid;
    border-width: 3px 3px 3px 4px;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    background: rgba(0, 0, 0, 0.35);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
